<?php

// adjust as needed
$path_to_jackalope = __DIR__.'/../jackalope';

// $autoload was created in the autoload that is included before this.
$autoload->add('Jackalope', "$path_to_jackalope/src");

/* credentials you plan to use */
$jackrabbit_url = 'http://127.0.0.1:8080/server/';
$workspace = 'default';
$user = 'admin';
$pass = 'admin';

/* bootstrapping the repository implementation. for jackalope with jackrabbit, do this: */
$factory = new \Jackalope\RepositoryFactoryJackrabbit;
$repository = $factory->getRepository(array("jackalope.jackrabbit_uri" => $jackrabbit_url));
$credentials = new \PHPCR\SimpleCredentials($user, $pass);
$session = $repository->login($credentials, $workspace);

$helperSet = new \Symfony\Component\Console\Helper\HelperSet(array(
    'session' => new \PHPCR\Util\Console\Helper\PhpcrHelper($session)
));
