parameters:
    level: 5
    paths:
        - src/

    ignoreErrors:
        # phpstan does not understand that the empty arrays are only the default
        -
            message: "#^Empty array passed to foreach\\.$#"
            count: 5
            path: src/PHPCR/Util/Console/Helper/PhpcrHelper.php
